/* Bordered form */

.form-signin {
  max-width: 25rem;
  margin: auto;
}
  form {
    border: 6px solid #cccaca;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
   /* Style of text under logo */
  .cac {
    text-align: center;
  
   }
  /* Set a style for all buttons */
  .container-button {
    display: flex;
    justify-content: center;

  }
  button {
    background-color: #0f4da2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.metromadrid {
    width: 25%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    text-align: center;
    margin: auto;
    letter-spacing: .1ch;
  }
  .container2 {
    text-align: center;
    margin: 8px 0;
    letter-spacing: .1ch;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }